# Editor files
.vscode/
*.ipynb
.ipynb_checkpoints/

# Byte-compiled
__pycache__/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg